<div class="menu-container">
  <div class="logo-section">
    <a routerLink="/">
      <img src="assets/images/LogoMonasterio.png" alt="Logo" class="menu-logo" />
    </a>
  </div>
  <div class="menubar-section">
    <p-menubar [model]="menuItems"></p-menubar>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Footer Global -->
<footer class="page-footer">
	<div class="footer-content">
		<div class="footer-section footer-main">
			<img src="assets/images/Virgen del Carmen.png" alt="Virgen del Carmen" class="footer-image">
			<div class="footer-text">
				<h3>Santuario Mariano Nacional<br>del Carmen de la Asunción</h3>
				<p>Pase del Niño Viajero {{ getCurrentYear() }}</p>
			</div>
		</div>
		<div class="footer-section">
			<h4>Contacto</h4>
			<p><i class="pi pi-phone"></i>  (07) 2823450</p>
			<p><i class="pi pi-envelope"></i> info@monasteriocarmenasuncionocd.com</p>
		</div>
		<div class="footer-section">
			<h4>Ubicación</h4>
			<p><i class="pi pi-map-marker"></i>Mariscal Sucre y Padre Aguirre<br>Cuenca, Ecuador</p>
		</div>
	</div>
	<div class="footer-bottom">
		<p>&copy; {{ getCurrentYear() }} Monasterio del Carmen de la Asunción. Todos los derechos reservados.</p>
	</div>
</footer>

<p-toast></p-toast>
