/* You can add global styles to this file, and also import other style files */

// Reset global y estilos base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #f8fafc;
}
